<div>
  <a href="organizers/create">go to organizers</a>
  {{#each organizers}}
    <p>{{{name}}}</p>
    <p>{{description}}</p>
    <a href="/organizers/{{id}}">
      <img
        src="http://127.0.0.1:3005/{{image}}"
        width="auto"
        height="300"
        alt=""
      />

    </a>
    <form
      action="/organizers/destroy/{{id}}"
      method="post"
      enctype="multipart/form-data"
    >
      <button type="submit">delete</button>
    </form>
  {{else}}
    <p>No organizers</p>
  {{/each}}
</div>